input,
button,
textarea {
  display: block;
  margin-bottom: 1rem;
}

.profile {
  width: 80px;
}

main {
  width: 400px;
}

input {
  outline: none;
  background: transparent;
  padding: 10px;
  border: 1px solid gray;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    194deg,
    rgba(206, 159, 237, 1) 0%,
    rgba(249, 150, 190, 1) 49%,
    rgba(254, 198, 128, 1) 100%
  );
}

.info {
  background: #fff;
  padding: 10px;
}

#header {
  border: 2px solid pink;
}

#submit {
  padding: 10px;
}
